@charset "UTF-8";

/* 回答はここに書いてね */
/*q7-1 float*/
.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

.float_box {
  overflow: hidden;
}

.q7_float {
  float: left;
  width: 225px;
  box-sizing: border-box;
  margin-left: 50px;
  font-size: 16px;
}

.q7_float:first-child {
  margin-left: 0;
}

/*q7-2 table*/
.q7_table {
  display: table;
}

.q7_cell {
  display: table-cell;
  width: 225px;
  padding-left: 50px;
  font-size: 16px;
}

.q7_cell:first-child {
  padding-left: 0;
  vertical-align: middle;
}

/*q7-3 inline-block*/
.is-block {
  font-size: 0;
}

.q7_inline_block {
  display: inline-block;
  box-sizing: border-box;
  width: 225px;
  margin-left: 50px;
  font-size: 16px;
  vertical-align: middle;
}

.q7_inline_block:first-child {
  margin-left: 0;
}

/*q7-4 flex*/
.flex_box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.q7_flex {
  margin: 0 auto;
  box-sizing: border-box;
  width: 225px;
  font-size: 16px;
}

/* 回答はここに書いてね */
