@charset "UTF-8";

/* 回答はここに書いてね */
.q6_box_text {
  width: 90px;
  padding: 10px 0;
  background-color: #e6f2ff;
}

.q6_box_content{
  text-align: center;
}

.q6__box.is-textalign .q6_box_text {
  display: inline-block;
}

.q6__box.is-margin .q6_box_text {
  text-align: center;
  margin: 0 auto;
}

/* 回答はここに書いてね */
