@charset "UTF-8";

/* 回答はここに書いてね */
.q6_box_text {
  width: 90px;
  padding: 10px 0;
  background-color: #e6f2ff;
}

.q6_box_content{
  text-align: center;
}

.q6__box.is-textalign .q6_box_text {
  display: inline-block;
}

.q6__box.is-margin .q6_box_text {
  text-align: center;
  margin: 0 auto;
}

.q6--around.is-table {
  display: table;
}

.q6_box {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.q6_box__text {
  display: inline-block;
  padding: 10px;
  background-color: #fff;
}

.q6--around.is-flex {
  display: flex;
  align-items: center;
  justify-content:center;
}

/* 回答はここに書いてね */
